@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Msg</h3>

<p>Use this area to provide additional information.</p>

<p>@ViewBag.Keywords</p>

<ul>
    @foreach (var product in ViewBag.Products)
    {
        <li>
            <h3>@product.title</h3>
            <span>@product.asin</span>
            <span>@product.productUrl</span>
            <img src="@product.productImgUrl" alt=""/>
            <span>@product.price</span>
            <span>@product.offersUrl</span>
        </li>
    }
</ul>